notebook/*
data/
lightning_logs/
*.pt
*.pth
*.ckpt
*.ptl
*.ptl.gz
*.ptl.bz2
*.ptl.zip
*.ptl.tar
*.ptl.tar.gz
*.ptl.tar.bz2
*.ptl.tar.zip

.
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw

# Ignore LaTeX build artifacts
doc/*.aux
doc/*.log
doc/*.out
doc/*.pdf
doc/*.synctex.gz
doc/*.toc
doc/*.fls
doc/*.fdb_latexmk
doc/*.fls.lock
doc/*.fls.old
doc/*.fls.old.lock